<div>
        <h1 class="certidao" >CERTIDÃO</h1>
        <br>
        <br>
        
        <label class="exibe"><strong>Número da Certidão: </strong></label><label class="saida">{{dados.numero}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Nome: </strong></label> <label class="saida">{{dados.nome}}</label>
        <br>
        <br>
        <label class="exibe"><strong>CPF: </strong></label> <label class="saida">{{dados.cpf}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Nome da Mãe: </strong></label> <label class="saida">{{dados.mae}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Nome do Pai: </strong></label> <label class="saida">{{dados.pai}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Nome da Avó Materna: </strong></label> <label class="saida">{{dados.avozinhaMaterna}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Nome do Avô Materno: </strong></label> <label class="saida">{{dados.avozinhoMaterno}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Nome da Avó Paterna: </strong></label> <label class="saida">{{dados.avozinhaPaterna}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Nome do Avô Paterno: </strong></label> <label class="saida">{{dados.avozinhoPaterno}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Sexo: </strong></label> <label class="saida">{{dados.sexo}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Data de Nascimento: </strong></label> <label class="saida">{{dados.data}} </label>
        <br>
        <br>
        <label class="exibe"><strong>Horário de Nascimento: </strong></label> <label class="saida">{{dados.hora}} </label>
        <br>
        <br>
        <label class="exibe" ><strong>Cidade: </strong></label><label class="saida">{{dados.cidade}} - </label> <label class="saida">{{dados.estado}} </label>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>